div{
    background-color: cadetblue;
    padding: 10px;
    margin-bottom: 20px;
  }
  body{
    font-size: 18px;
    background: rgba(230, 215, 215, 0.384);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }